.bear-logo {
  height: 45px;
  filter: brightness(0) invert(1);
  
}

.Navbar {
  background-color: #2dc5fa;
  height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding: 0px 10px 0px 10px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  font-size: 22px;
  color: blue;
  font-weight: 600;
}

.container-card {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.container-beer {
  display: flex;
  flex-direction: row;
  border-bottom: #c0c0c0 1px solid;
  margin-top: 30px;

}
.container-beer img {
    height: 180px;
    max-width: 100%;
    margin: 0px 30px 25px 30px;

}